@import '~common/const/_constant';

.drop__down__container {
  padding: 10px 0;
  position: absolute;
  width: max-content;
  text-align: center;

  background: $color6;
  box-shadow: $color2;

  border-radius: 3px;

  .close__icon {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 10px 5px;

    > svg {
      cursor: pointer;
      font-size: 1.5em;
      color: $color5;
    }
  }
}
