@import '~$utils/_constant.scss';

$lineHeight: 20px;
$fontWeight: 500;
$fontSize: 16px;

.genre__item {
  @include fontBase($color5, $fontWeight, $lineHeight, $fontSize);
  cursor: pointer;

  &.genre__active {
    color: $color1;
  }
}
