.button__container {
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  display: flex;

  .text {
    margin: auto;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}
