@import '~utils/style/_constant';

$heightFooter: 70px;

.footer__container {
  position: sticky;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: $containerWitch;
  height: $heightFooter;
  @include container();

  background: $color4;
  margin-bottom: 20px;
}
