@import '~utils/_constant.scss';
$color: #ffffff;
$height: 49px;
$lineHeightHeadline: $height;
$lineHeightInput: 24px;
$fontWeightHeadline: 300;
$fontWeightInput: 400;
$fontSizeHeadline: 40px;
$fontSizeInput: 20px;
$letterSpacingHeadline: 1px;

.search__container {
  padding: 0 $containerLRPadding;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'a .' 'b c';
  grid-template-rows: 90px 1fr;

  .search__headline {
    display: flex;
    height: $height;

    @include fontBase(
      $color,
      $fontWeightHeadline,
      $lineHeightHeadline,
      $fontSizeHeadline,
      $letterSpacingHeadline
    );
  }

  .search__input {
    margin-right: 14px;
    padding-left: 19px;
    height: $height;
    width: 710px;
    background: rgba(50, 50, 50, 0.8);
    mix-blend-mode: normal;
    opacity: 0.7;
    border-radius: 4px;

    @include fontBase(
      $color,
      $fontWeightInput,
      $lineHeightInput,
      $fontSizeInput
    );
  }

  :nth-child(1) {
    grid-area: a;
  }

  :nth-child(2) {
    grid-area: b;
  }

  :nth-child(3) {
    grid-area: c;
  }
}
