@import '~utils/_constant';

.genre__list {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  width: 460px;
  justify-content: space-between;
}

.filter__bar__line {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 3px;
  background: $color4;

  .filter__bar__active__line {
    height: 3px;
    width: 30px;
    background: $color1;
  }
}
