@import '~utils/_constant';

$heightFooter: 70px;

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $containerWitch;
  height: $heightFooter;
  @include container();

  background: $color4;
  margin-bottom: 20px;
}
