@import "~utils/const/_constant.scss";

body {
  background: #888888;

  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    margin: auto;

    .upper__text {
      text-transform: uppercase;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    .add__button {
      height: 46px;
      width: 176px;
      background: $color4;
      color: $color1;
    }
  }
}
