@import '~utils/style/_constant.scss';

body {
  background: #888888;

  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    margin: auto;

    //.sticky__position {
    //  position: sticky;
    //  top:0;
    //  z-index: 1;
    //  background-color: $color4;
    //}

    .upper__text {
      text-transform: uppercase;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    .add__button {
      height: 46px;
      width: 176px;
      background: $color4;
      color: $color1;
    }
  }
}
