@import '~utils/style/_constant';

.filter__bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: $containerWitch;
  padding: 0 $containerLRPadding;
  background: $color3;

  .filter__bar__container {
    position: relative;
    width: inherit;
    padding: 0 0 25px 0;
    margin: 20px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


